<%= stylesheet_link_tag "components/button" %>

<% variant_class_map = {
  primary: "button-primary",
  secondary: "button-secondary",
  outline: "button-outline",
} %>

<button class="button <%= variant_class_map[variant.to_sym] %>">
  <%= button_text %>
</button>