<%= stylesheet_link_tag "card" %>

<div class="card">
  <h1>Hello</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nisl eget aliquam tincidunt, nisl nisl aliquet nisl, eget aliquam nisl nisl a nisl. Nullam auctor, nisl eget aliquam tincidunt, nisl nisl aliquet nisl, eget aliquam nisl nisl a nisl.</p>
</div>