.log-out-btn {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  border: 0;
  width: 146px;
  height: 33px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3e3d3d;
  background: #ececec;
}

.log-out-icon {
  margin-right: 10px;
}
